* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
* {
	color: inherit;
	text-decoration: none;
}
.container {
	width:95%;
	margin:0 auto;
}
.container:after {
	content:"";
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding: 15px 0;
	color: #f05c3e;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #f05c3e;
	color: #fff;
}
.active {
	background-color: #f05c3e;
	color: #fff;
}
.banner {
	height: 350px;
	background-image: url('../img/banner1.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 20px;
	border: 3px solid #fff;
	border-radius: 20%;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 30px 0;
	color: #f05c3e;
	margin-bottom: 30px;
}
.sambutan h3{
	padding-top: 30px;
	padding-bottom: 30px;
}
.sambutan {
	text-align: center;
	padding: 30px;
	background-color: #f2ffed;
}
.sambutan img {
	float: left;
	border-radius: 50%;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.sambutan p {
	color: #303030;
	word-spacing: 2px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: left;
}
.sambutan .tombol {
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
}
.tombol ul {
	float: none;
	text-align: center;
}
.tombol ul li {
	display: inline-block;
}
.tombol ul li a {
	width: 100px;
	height: 30px;
	padding-top: 15px;
	display: inline-block;
	background-color: #f05c3e;
	color: #fff;
	border-radius: 10%;
}
.petuah {
	text-align: center;
	padding: 30px;
}
.petuah img {
	float: right;
	border-radius: 50%;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.petuah p {
	color: #303030;
	word-spacing: 2px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: left;
}
.info {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 0px;
	background-color: #f2ffed;
}
.info p {
	color: #303030;
	word-spacing: 2px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: center;
	float: left;
}
.info h3{
	text-align: center;
}
.kotak {
	color: #1AA5CD;
}
.kotak:after {
	content: '';
	display: block;
	clear: both;
}
.kotak .col-2 {
	width: 50%;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.kotak .col-2 p {
	margin: 15px 0;
	text-align: center;
}
.etalase {
	width: 320px;
	height: 320px;
	border: 1px solid;
	border-radius: 10%;
	text-align: center;
	line-height: 70px;
	font-size: 40px;
	margin: 0 auto;
	padding-top: 20px;
}
footer {
	padding: 5px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader p {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1AA5CD;
}
.bg-loader .loader {
	width: 100px;
	height: 100px;
	border: 3px solid  #fff;
	border-radius: 50%;
	border-top-color: #1AA5CD;
	border-bottom-color: #1AA5CD;
	animation: muter .8s linear infinite;
} 
.label{
	background-color: #1AA5CD;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
}
@keyframes muter {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 529px) {
	.container {
		width: 80%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	header ul li a {
		padding:15px 6px;
		display: inline-block;
	}
	.kotak .col-2 {
		width: 50%;
		padding-top: 0px;
		box-sizing: border-box;
		text-align: center;
	}
	.kotak .col-2 p {
		margin: 15px 0;
	}
	.etalase {
		width: 120px;
		height: 130px;
	}
	.peta {
		width: 150px;
		height: 150px;
	}
	.audio {
		width: 100px;
	}
	.sambutan .tombol {
		width: 50%;
		display: inline-block;
		padding-bottom: 30px;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		float: none;
	}
	.tombol ul {
		float: none;
		text-align: center;
	}
	.tombol ul li {
		display: inline-block;
	}
	.tombol ul li a {
		width: 100px;
		height: 30px;
		padding-top: 15px;
		display: inline-block;
		background-color: #f05c3e;
		color: #fff;
		border-radius: 10%;
	}