* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
* {
	color: inherit;
	text-decoration: none;
}
.container {
	width:95%;
	margin:0 auto;
}
.container:after {
	content:"";
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding: 15px 0;
	color: #f05c3e;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #f05c3e;
	color: #fff;
}
.active {
	background-color: #f05c3e;
	color: #fff;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 30px 0;
	color: #f05c3e;
	margin-bottom: 30px;
}
.banner {
	text-align: center;
	height: 350px;
	background-image: url('../img/grafis.png');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner img {
	color: #1AA5CD;
	word-spacing: 2px;
	line-height: 30px;
	text-align: right;
	float: right;
	border-radius: 25%;
}
.bagiankonsultasi {
	text-align: center;
	height: 350px;
	background-image: url('../img/gambar.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bagianguru {
	text-align: center;
	height: 350px;
	background-image: url('../img/gambar1.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sambutan {
	text-align: center;
	padding: 30px;
	padding-bottom: 0px;
	background-color: #A1A6F5;
}
.sambutan img {
	border-radius: 50%;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.sambutan p {
	color: #303030;
	word-spacing: 2px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: justify;
}
.sambutan .tombol {
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
}
.tokoh {
	padding: 30px;
	padding-top: 0px;
}
.tokoh h3 {
	color: #1AA5CD;
}
.box {
	color: #1AA5CD;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width: 150px;
	height: 150px;
	border: 1px solid;
	border-radius: 25%;
	text-align: center;
	line-height: 70px;
	font-size: 30px;
	margin: 0 auto;
	padding-top: 20px;
}
.box .col-4 h4 {
	margin: 15px 0;
}
.tombol ul {
	float: none;
	text-align: center;
}
.tombol ul li {
	display: inline-block;
}
.tombol ul li a {
	width: 100px;
	height: 30px;
	padding-top: 15px;
	display: inline-block;
	background-color: #f05c3e;
	color: #fff;
	border-radius: 10%;
}
footer {
	padding: 5px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader p {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f05c3e;
}
.bg-loader .loader {
	width: 100px;
	height: 100px;
	border: 3px solid  #fff;
	border-radius: 50%;
	border-top-color: #f05c3e;
	border-bottom-color: #f05c3e;
	animation: muter .8s linear infinite;
} 
.label{
	background-color: #1AA5CD;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
}
@keyframes muter {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px) {
	.container {
		width: 80%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	header ul li a {
		padding:15px 6px;
		display: inline-block;
	}
	.banner {
		text-align: center;
		height: 100px;
		background-image: url('../img/grafis.png');
		background-size: cover;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.banner img {
		color: #1AA5CD;
		word-spacing: 2px;
		line-height: 30px;
		margin-right: 0px;
		text-align:right;
		float: right;
	}
	.bagiankonsultasi {
		text-align: center;
		height: 100px;
		background-image: url('../img/gambar.jpg');
		background-size: cover;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bagianguru {
		text-align: center;
		height: 200px;
		background-image: url('../img/gambar1.jpg');
		background-size: cover;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sambutan img {
		border-radius: 50%;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
		padding-top: 20px;
		width: 40%;
	}
	.sambutan video {
		text-align: center;
		width: 280px;
	}
	.sambutan .tombol {
		width: 50%;
		display: inline-block;
		padding-bottom: 30px;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width: 50%;
		padding: 10px;
		box-sizing: border-box;
		text-align: center;
		float: left;
	}
	.icon {
		width: 120px;
		height: 120px;
		border: 1px solid;
		border-radius: 25%;
		text-align: center;
		line-height: 70px;
		font-size: 30px;
		margin: 0 auto;
		padding-top: 20px;
	}
	.tombol ul {
		float: none;
		text-align: center;
	}
	.tombol ul li {
		display: inline-block;
	}
	.tombol ul li a {
		width: 100px;
		height: 30px;
		padding-top: 15px;
		display: inline-block;
		background-color: #f05c3e;
		color: #fff;
		border-radius: 10%;
	}